* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #34495e;
}
.face {
	position: relative;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-color: #ffcd00;
	display: flex;
	justify-content: center;
	align-items: center;
}
.face::before {
	content: '';
	position: absolute;
	top: 180px;
	width: 150px;
	height: 70px;
	background: #b57700;
	border-bottom-left-radius: 70px;
	border-bottom-right-radius: 70px;
	transition: 0.5s;
}
.face:hover::before {
	top: 210px;
	width: 150px;
	height: 30px;
	background: #b57700;
	border-radius: 50%;
}
.eyes {
	position: relative;
	top: -60px;
	display: flex;
}
.eye {
	position: relative;
	width: 80px;
	height: 80px;
	display: inline-block;
	background: #fff;
	margin: 5px;
	border-radius: 50%;
}
.eye::before {
	content: '';
	position: absolute;
	top: 25%;
	left: 15px;
	transform: 25px;
	width: 40px;
	height: 40px;
	background: #000036;
	border-radius: 50%;
}
